:root{
    --main-color: #49ace6;
    --main-color-dark: #429bcf;
    --message-back-color: #e2e2e2;

}


*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    
}

main{   
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
    height: 50%;
}

.chat-main{
    width: 50%;
    background-color: var(--main-color);
    padding: 0.5% 1% 0.5% 1%;
    display: grid;
    grid-template-columns: 18% auto auto;
    grid-template-rows: 12% auto 15%;
}

.leave-btn{
    margin-left: auto;  
}


.header-div{
    grid-column: 1 /span 3;
    display: flex;
    padding-bottom: 1%;
}

.sidebar{
    grid-column: 1/2;
    overflow-y: auto;
}

.messages{
    background-color: white;
    padding: 2%;
    grid-column: 2/ span 2;
    overflow-y: auto;
}

.chat-form-div{
    grid-column: 1 / span 3;
    padding-top: 2%;
    display: flex;
}

.chat-form-div > input{
    width: 90%;
}

.send-btn{
    margin-left: auto;
    width: 10%;
}

.container{
    padding: 1%;
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
}

h1{
    font-size: 1.5em;
    align-self: center;
}

.join-form{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-btn{
    margin-top: 2%;
    width: 25%;
}

.message-div{
    margin-top: 1%;
    padding: 0.5% 1% 0.5% 1%;
    background-color: var(--message-back-color);
    border-radius: 6px;
    width: 80%;
    margin-left: 0;
    margin-right: auto;
}

.message-div.user{
    background-color: var(--main-color);
    width: 80%;
    margin-left: auto;
    margin-right: 0;
}

.message-div.user > .message-head{
    color: black;
}

.message-div:first-child{
    margin-top: 0%;
}

.message-head{
    font-size: 0.8em;   
    color: var(--main-color-dark);

}

button{
    border: 1px solid;   
}

button:hover{
    box-shadow: 0 0 5px 1px black;
}

.chat-bot-div{
    text-align: center;
    background-color: white;
    color: #9c9c9c;
}

.chat-bot-div > .message-body{
    font-size: 0.9em;
}